body, html {
  margin: 60px;
  padding: 0;
  height: 100%;
  font-family: 'Enriqueta', 'Arial', serif;
}

a {
  text-decoration: none;
  color: #032738;
}

header {
  font-size: 28px;
  font-family: fantasy;
}

nav {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  border-top-style: double;
  border-bottom-style: double;
  border-left-style: double;
  border-right-style: double;
  border-color: transparent;
  background-color: #9ab8ad;
}

.navbar ul,
.navbar li {
  display: flex;
  padding-left: 50px;
  padding-right: 20px;
  list-style: none;
}

.navbar a {
  display: flex;
  font-size: 36px;
  color: #032738
}

.inner_connections {
  display: flex;
  align-items: center;
  color: #032738;
}

.logo {
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: initial;
  border-radius: 180px;
}

.reiki-info {
  height: 320px;
  margin: 40px;
  margin-top: 80px;
  text-align: center;
  color: #032738;
}

.reiki-text {
  display: inline-block;
  font-family: fantasy;
}

.reiki-info h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.reiki-info p {
  inline-size: 1000px;
  text-align: center;
  font-size: 30px;
}

.reiki-grid {
  display: grid;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 50px;
  justify-content: center;
  grid-gap: 25px;
  max-width: 75%;
  grid-template-columns: 1fr 1fr;
  color: white;
  font-family: fantasy;
}

.reiki-column ul {
  display: inline;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.reiki-column li {
  margin-top: 30px;
}

.reiki-column h3 {
  display: flex;
  margin-bottom: -50px;
  line-height: 2.0;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.button1,
.imgButton {
  display: flex;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: whitesmoke;
  border: 5px solid #d1d4d6;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-family: monospace;
  font-size: 24px;
  color: #032738;
}

.imgButton {
  margin:auto;
  margin-top: 25px;
}

.button1:hover,
.imgButton:hover {
  background-color: #d1d4d6;
  color: whitesmoke;
}

.holistic-info {
  display: block;
  height: 320px;
  margin: 40px;
  margin-top: 80px;
  text-align: center;
  position: relative;
  font-family: fantasy;
}

.holistic-text {
  display: inline-block;
}

.holistic-info h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.holistic-info p {
  inline-size: 1000px;
  text-align: center;
  font-style: normal;
  font-size: 32px;
  color: #032738;
}

.feature_section {
  display: flex;
  margin: auto;
  width: 65%;
  height: 800px;
  margin-top: 80px;
  padding-top: 70px;
  justify-content: center;
}

.feature-images {
  display: flex;
  margin-top: 80px;
  grid-gap: 200px;
}

.feature_img {
  width: 500px;
  height: 600px;
}

.feature_img--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.feature_img--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.feature_img--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}

.meditation h1,
.tarot h1,
.crystals h1 {
  display: flex;
  margin: auto;
  font-size: 40px;
  font-family: fantasy;
}

.bgimg {
  background-color: #9ab8ad;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: #032738;
  font-family: fantasy;
  font-size: 24px;
}

.topleft {
  position: absolute;
  top: 0;
  left: 20px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.slide-container {
  display: flex;
  margin: auto;
  margin-top: 120px;
  max-width: 700px;
  max-height: 700px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-color: black;
  border-width: thick;
}

.dots-container {
  display: flex;
  margin-bottom: 40px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.dots-container .dot {
  width: 15px;
  height: 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #797c7e;
}

.dots-container .dot.active {
  border: 3px solid rgba(0, 0, 0, 0.8);
}

form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
  border: transparent;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 10px;
  align-items: center;
  color: #032738;
  font-size: large;
}

.container h2 {
  font-size: 28px;
  text-align: center;
  font-family: fantasy;
}

.container p {
  text-align: center;
  font-size: 22px;
  font-family: fantasy;
}

#contact {
  max-width: 600px;
}

input[type=text], input[type=submit] {
  display: inline-block;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: large;
}

input[type=checkbox] {
  margin-top: 20px;
  text-align: center;
}

input[type=submit] {
  border: none;
  cursor: pointer;
  background-color: #797c7e;
  color: whitesmoke;
  font-size: large;
}

input[type=submit]:hover {
  opacity: 0.8;
}

#footer {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
  justify-content: space-between;
  align-items: center;
  border-top-style: double;
  border-bottom-style: double;
  border-left-style: double;
  border-right-style: double;
  border-color: transparent;
  background-color: #9ab8ad;
  font-size: 18px;
  font-family: fantasy;
}

.fa {
  width: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 30px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: whitesmoke;
}

.fa-twitter {
  background: #55ACEE;
  color: whitesmoke;
}

.fa-youtube {
  background: #bb0000;
  color: whitesmoke;
}

.fa-instagram {
  background: #125688;
  color: whitesmoke;
}

/* Color Palette

Background colors:
1. rgb(240, 240, 240)
2. #9ab8ad
3. #797c7e
4. rgba(0, 0, 0, 0.8)
5. #f1f1f1
6. #3B5998
7. #55ACEE
8. #125688
9. #bb0000
10. #348f50
11. #56b4d3

Border colors:
1. #d1d4d6
2. rgba(0, 0, 0, 0.8)
3. #f1f1f1
4. #ccc
5. #032738

Font colors:
1. #032738
2. whitesmoke



/
